input::-webkit-input-placeholder {
  padding-left: 30px;
  font-size: 14px;
}
.viewSampleContainer:hover{
  background: #FA2545 !important;
}

.viewSampleContainer:hover .viewSampleLink{
  color:white !important
}
.sampleCodeContainer:hover{
  background: #0EAF00 !important;
  color:white !important
}
.whyRelyCards:hover{
  background: #E77433 !important;
}

@media screen and (max-width: 540px) {
  .searchInputField {
    width: 300px !important;
  }
}
